.product-table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 10px;
}

.table-header-row {
  background-color: #4A90E2;
  color: #fff;
}

.table-header {
  padding: 14px;
  text-align: left;
  font-weight: 600;
}

.table-row {
  background-color: #fff;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 12px;
}

.table-data {
  padding: 14px 20px;
  color: #333;
  border-bottom: 1px solid #eee;
}


.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.in-stock {
  background-color: #d4f8d4;
  color: #1c7c1c;
}

.out-stock {
  background-color: #ffd6d6;
  color: #b30000;
}


.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input {
  width: 65%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.category-dropdown {
  width: 30%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
